{% extends 'base.html' %}
{% block content %}
<h2>{% if form.instance.pk %}Editar Livro{% else %}Novo Livro{% endif %}</h2>
<form method="post" class="row g-3">
        {% csrf_token %}
        {% for field in form %}
            <div class="col-md-6 mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
                {% for error in field.errors %}<div class="text-danger small">{{ error }}</div>{% endfor %}
            </div>
        {% endfor %}
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="{% url 'edu:list_livros' %}" class="btn btn-secondary">Voltar</a>
        </div>
</form>
{% endblock %}